* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*HEADER*/
header {
  background-color: #FE4A16;
  height: 6rem;
  flex-direction: column;
}
.principal {
  display: flex;
  justify-content: space-between;
  padding: .5rem .5rem;
}

.menu-logo {
  display: flex;
}

div a {
  color: white;
  font-size: 1.5rem;
}

div img {
  width: 2rem;
}

.icons {
  display: flex;
}
.icons li {
  color: white;
  font-size: 1.7rem;
  list-style: none;
  padding: 0 .5rem;
}

#search {
  display: flex;
  justify-content: center;
}

input {
  width: 18rem;
  height: 2.5rem;
}

.button {
  font-size: 1.2rem;
  width: 3rem;
  color: white;
  background-color: #FE4A16;
  border: none;
  border: 1px solid white;
  outline: none;
}

/*NAVEGAÇÃO*/
menu {
  display: flex;
  justify-content: space-around;
}

menu a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 0;
}

menu a li {
  list-style: none;
}

/*SEÇÕES*/
.important img {
  width: 22.5rem;
  height: 3rem;
}

.destaque img {
   width: 22.5rem;
   height: 18rem;
}

.prd {
  display: flex;
  flex-wrap: wrap;
  
}
.produtos {
  width: 11.2rem;
  height: 19.5rem;
  padding: 0 0.5rem;
  text-align: initial;
  font-size: 0.7em;
  color: rgb(102, 102, 102);
  border: 1px solid #e5e5e5;
  margin: 0 1px 0px -1px;
  
}
.produtos-img img {
    width: 10rem;
}

a {
  text-decoration: none;
}

 h1 {
  font-size: 1em;
  color: rgb(102, 102, 102);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form {
  padding-right: 15px;
  padding-left: 15px;
  margin: 1rem 0;
}

.em { 
  display: flex;
  border-bottom-width: 2px; 
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  color: rgb(102, 102, 102);
  font-display: 16px;
  padding: 10px 35px 10px 10px;
  border-style: solid;
  margin-top: 1rem;
  outline: none;
}

.cadastrar {
  background-color: rgb(64, 205, 40);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
  color: white;
  height: 2.81rem;
  width: 18.12rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.formcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.5rem;
}

/*FOOTER*/

footer {
  background-color: #403E3F;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
}

footer ul a {
  color: white;
}

footer ul a li {
  padding: .5rem;
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .important img {
    width: 100%;
  }
  
  .destaque img {
     width: 100%;
  }
 }
 /* Telefone em landscape a tablet em portrait */
@media (max-width: 767px) {
  .important img {
    width: 100%;
    height: 5rem; 
  }
  
  .destaque img {
     width: 100%;
     height: 20rem;
  }
  #center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 }
/* tablet em portrait a landscape e desktop */
@media (min-width: 768px) and (max-width: 979px) { 
  .important img {
    width: 100%;
    height: 5rem; 
  }
  
  .destaque img {
     width: 100%;
     height: 20rem;
  }
  #center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 }
/* Desktop grande */
@media (min-width: 980px) { 
  .important img {
    width: 100%;
    height: 5rem; 
  }
  
  .destaque img {
     width: 100%;
     height: 20rem;
  }

  #center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 }