body,
html {
  height: 100%;
}

header {
  background-color: white;
  color: black;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  background-color: #272425;
}
img {
  margin: auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0%;
}

nav li {
  display: flex;
  justify-content: center;
  display: inline;
  padding: 1% 2%;
  color: white;
  margin: 0% 2%;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav li:hover {
    background-color: #2B3542;
}

aside {
  height: 30%;
  float: right;
  border: 1px solid black;
}

aside li {
  list-style: none;
  padding: 2% 1%;
}